$color-blue: #5290EA;
$color-orange: #F28B64;
$color-white: #F0F0F0;
$color-black: black;
$color-shadow: rgba(0, 0, 0, 0.25);
$color-background: #E2E2E2;
$color-brown: rgba(237, 123, 80, 0.5);
$color-blue: rgba(72, 138, 234, 0.5);
$color-ligh-dark: rgba(44, 44, 44, 0.5);